@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bartender Drink Order Application</h1>
    <p class="lead"><img src="http://imgur.com/9rjbgUl.jpg" height="500" width="1000" /></p>
    <p><a href="/movies" class="btn btn-primary btn-large">Order Now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Order a drink</h2>
        <p>
            Go to our order page. For service staff and customers. 
        </p>
        <p><a class="btn btn-default" href="/Movies/Create">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prepare a drink</h2>
        <p>For bartending staff.</p>
        <p><a class="btn btn-default" href="/Movies">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Menu</h2>
        <p>You can easily find a drink that offers the right mix of features and price for your taste.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>